{% extends "base.html" %}

{% load i18n %}

{% block title %}
    Products in {{ category.title }}
{% endblock %}

{% block header %}
    Products in {{ category.title }}
{% endblock %}

{% block content %}
    {% for product in products %}
        <p>
            <a href="/product/{{ category.id }}/{{ product.id }}/">{{ product.title }}</a><br/>
		    {# {% if images %} #}
		        {% for image in images %}
		            <img src="{{ image.display_image.url }}"/>
		        {% endfor %}
			{# {% endif %} #}
            {% if user.is_authenticated and user.get_profile.commission_rate %}
                <strong>{% trans "Price" %}:</strong> {{ product.price }} |<strong>{% trans "Commission" %}:</strong> {{ user.get_profile.commission_rate }}<br/>
            {% else %}
                <strong>{% trans "Price" %}:</strong> {{ product.price }} | <strong>{% trans "Commission" %}:</strong> {{ default_commission }}<br/>
            {% endif %}
            {% endif %}
            {% if product.stock > 0 %}
                <strong>In Stock</strong><br/>
            {% endif %}
            {# {{ product.description|linebreaksbr }} #}
            {% if product_images %}
                {% for image in product_images %}
                    {% if image.product.id == product.id %}
                        <img src="{{ image.thumbnail_image.url }}"/><br/>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
