{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Edit Your Billing Address" %}{% endblock %}

{% block header %}{% trans "Edit Your Billing Address" %}{% endblock %}

{% block content %}
    <div class="span-7">
        <form action="/shop/edit/billingaddress/{{ user_id }}/" method="post">
            <fieldset>
                <legend>{% trans "Edit Billing Address:" %}</legend>
                {% if form.non_field_errors %}
                    <div class="error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}: {{ field }}<br/>
                {% endfor %}
                {% csrf_token %}
                <input type="submit" value="{% trans "Submit" %}"/>
            </fieldset>
        </form>
    </div>
    <div class="span-17 final">
    </div>
{% endblock %}
