<div class="footer">
    {% block footer %}
    <p>
        &copy; 2011 Drop shipping site<br/>
        | <a href="/">Home</a> |
        <a href="/contact/">Contact Us</a> |
        <a href="/about/">About Us</a> |
        <a href="/terms/">Terms and Conditions</a> |
        <a href="/privacy/">Privacy Policy</a> |<br/>
        | {% if user.is_authenticated %}
        <a href="/accounts/logout/">Logout</a> |<br/>
        {% else %}
        <a href="/accounts/login/">Login</a> |<br/>
        {% endif %}
        | <a href="/shop/cart/">Your Cart</a> |
        {% if user.is_authenticated %}
            <a href="/shop/order/tracking/{{ user.id }}/">Track Your Orders</a> |
        {% endif %}
    </p>
    {% endblock %}
</div>
